.logo-nav img {
    max-width: 100%;
}

.splash {
    height: 18em;
    padding-top: 6em;
    margin-bottom: 2em;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url(banner.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
}

table {
    margin: 10px;
}
td, th {
    border: solid thin;
    padding: 5px;
}

.disabled {
    background-color: #babdb6;
}

.vehicleRoutingCustomerMarker {
    border: solid thin black;
    border-radius: 10px;
    background-color: #d3d7cf;
    color: black;
    text-align: center;
    padding: 0;
}

.vehicleRoutingCustomerMarker span {
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
}
