<!DOCTYPE HTML>
<html>
<head>
    <title>Garbage Collection System</title>
    <link href="basic.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <header class="main-page-header">
                <h1>Garbage Collection System</h1>
            </header>
            <p class="pull-right" style="border: solid thin black; border-radius: 5px; padding: 2px;">Total travel
                distance of vehicles: <b><span id="scoreValue">Not solved</span></b></p>
            <div>
                <button id="resolveDirectionsButton" class="btn btn-default" type="submit" onclick="schedule()">
                    Schedule
                </button>
            </div>
            <p>The following list display the locations the trucks have to visit in order to complete the collection
                task</p>
            <div id="schedule-list"></div>
            <p>The following map provides a graphical Reference for the Schedule</p>
            <div id="map-canvas" style="height: 600px; width: 100%; margin-top: 10px; margin-bottom: 10px;"></div>
            <p>This visualization does not work offline and uses proprietary Google software.</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCkMxJ_mDiduPhPBGxuA2MTrGvbrRbFOI"></script>
<script src="schedule.js" type="text/javascript"></script>
</body>
</html>
